In [3]:
import kaggle

In [4]:
!kaggle datasets download ankitbansal06/retail-orders -f orders.csv

Dataset URL: https://www.kaggle.com/datasets/ankitbansal06/retail-orders
License(s): CC0-1.0
Downloading orders.csv.zip to c:\Users\saisr\OneDrive\Desktop\SQL Cookbook\SQL+Python

  0%|          | 0.00/200k [00:00<?, ?B/s]
100%|██████████| 200k/200k [00:00<00:00, 2.67MB/s]

In [5]:
import zipfile
zip_ref=zipfile.ZipFile('orders.csv.zip')
zip_ref.extractall()
zip_ref.close()

In [3]:
import pandas as pd
import numpy as np
import sqlite3

In [4]:
df= pd.read_csv('orders.csv',na_values=['Not Available', 'unknown'])

In [5]:
df['Ship Mode'].unique()

array(['Second Class', 'Standard Class', nan, 'First Class', 'Same Day'],
      dtype=object)

In [6]:
df.columns=df.columns.str.lower()

In [7]:
df.columns=df.columns.str.replace(' ', '_')

In [8]:
df.head()

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5

In [9]:
df['discount_amount']=df['list_price']*(df['discount_percent']/100)

In [10]:
df['sale_price']=df['list_price']-df['discount_amount']

In [11]:
df['profit']=df['sale_price']-df['cost_price']

In [17]:
df.dtypes

order_id                    int64
order_date         datetime64[ns]
ship_mode                  object
segment                    object
country                    object
city                       object
state                      object
postal_code                 int64
region                     object
category                   object
sub_category               object
product_id                 object
quantity                    int64
discount_amount           float64
sale_price                float64
profit                    float64
dtype: object

In [13]:
df['order_date']=pd.to_datetime(df['order_date'],format='%Y-%m-%d')

In [14]:
df.drop(columns=['list_price','discount_percent','cost_price'],inplace=True)

In [15]:
import sqlalchemy as sas
engine= sas.create_engine('mssql://HP_WorkStation\SQLEXPRESS/mirza_sql?driver=ODBC+Driver+17+for+SQL+Server')
conn= engine.connect()

<>:2: SyntaxWarning: invalid escape sequence '\S'
<>:2: SyntaxWarning: invalid escape sequence '\S'
C:\Users\saisr\AppData\Local\Temp\ipykernel_22420\314071974.py:2: SyntaxWarning: invalid escape sequence '\S'
  engine= sas.create_engine('mssql://HP_WorkStation\SQLEXPRESS/mirza_sql?driver=ODBC+Driver+17+for+SQL+Server')

In [19]:
#df.to_sql('df_orders',con=conn,if_exists='replace',index=False)
df.to_sql('df_orders',con=conn,if_exists='append',index=False)

38